body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Gotham';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    text-align: center;
    margin: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Gotham';
}
p {
    font-size: 1.2em;
    line-height: 1.1em;
    color: #333;
}
footer {
    margin-top: 60px;
    border-top: 4px solid #d5d5d5;
    font-size: .6em;
    text-align: right;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
