/* ======================================================== */
/* =========== GLOBAL STYLES ============================== */
/* ======================================================== */

nav ul, footer ul {
    text-align: right;
    font-family:'Gotham Light';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 32px;
}

nav {
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Gotham Medium';
}
p {
    font-family:'Gotham Book';
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
    width:60%;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* ======================================================== */
/* =========== PHONE STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 350px) {
    body{
        background-color: none;
    }

    header {
        min-height: 120px;
        background-color: rgba(220,220,220,.6);
    }

    nav {
        min-height: 70px;
        background-color: rgba(180,180,180,.6);
    }

    main {
        min-height: 500px;
        background-color: rgba(140,140,140,.6);
    }

    footer {
        min-height: 200px;
        background-color: rgba(100,100,100,.6);
    }
}

/* ======================================================== */
/* =========== TABLET STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 700px) {
    body{
        background-color: none;
    }
}

/* ======================================================== */
/* =========== DESKTOP STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 1200px) {
    body{
        background-color: none;
    }
}
