/* ======================================================== */
/* =========== GLOBAL STYLES ============================== */
/* ======================================================== */

* {
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

#container{
    min-height: 100vh;
    width: 100%; max-width: 1200px; margin: 0 auto;
    padding: 1em;
}

.column {
    float: left;
    height: 50px;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    font-family:'Gotham Light';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul {
    font-family:'Gotham Light';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 24px;
}

header {
    border-bottom: 2px solid #d5d5d5;
}

nav {
    border-bottom: 1px solid #d5d5d5;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Gotham Medium';
}

h2 {
    font-size: 2em;
    font-family:'Garamond';
}

h3 {
    font-size: .8em;
    font-family:'Gotham Light';
}

 p {
     font-size: 1em;
     line-height: 1.5em;
     color: #333;
}

ul.posts { 
      margin: 200px auto 200px; 
      font-size: 1.5em;
        }

ul.posts li {
      list-style: none;
}

/* ======================================================== */
/* =========== PHONE STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 350px) {
    body{
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    header {
        min-height: 40px;
    }

    nav {
        min-height: 40px;
    }

    main {
        min-height: 500px;
    }

    footer {
        min-height: 60px;
        border-top: 1px solid #d5d5d5;
        background-color: black;
        padding-top: 10px;
        font-size: .8em;
        font-color: white;
        
    }
}

/* ======================================================== */
/* =========== TABLET STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 700px) {
    body{
        background-color: none;
    }

    main {
        max-width: 600px;
        min-height: 600px;
        margin: 0 auto 40px;
    }
    
    footer {
        min-height: 100px;
}

/* ======================================================== */
/* =========== DESKTOP STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 1200px) {
    body{
        background-color: none;
    }
    main {
        max-width: 650px;
        min-height: 700px;
        margin: 0 auto 40px;
    }
}
