/* ======================================================== */
/* =========== GLOBAL STYLES ============================== */
/* ======================================================== */

* {
    margin: 0px; padding: 0; border: 0; box-sizing: border-box;
}

#container{
    min-height: 100vh;
    width: 100%; max-width: 1200px; margin: 0 auto;
    padding: 1em;
}

nav ul, footer ul {
    text-align: right;
    font-family:'Gotham Light';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 32px;
}

nav {
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Gotham Medium';
}

h2 {
    font-size: 2em;
    font-family:'Garamond';
}

h3 {
    font-size: .8em;
    font-family:'Gotham Light';
}

p {
    margin-top: 10px;
    font-family:'Calibri';
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
    text-align: left;
}
footer {
    padding-top: 10px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-color: white;
}

/* ======================================================== */
/* =========== PHONE STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 350px) {
    body{
    }

    header {
        min-height: 60px;
    }

    nav {
        min-height: 40px;
    }

    main {
        margin: 20px;
        min-height: 550px;
    }

    footer {
        min-height: 80px;
        background-color: black;
    }
}

/* ======================================================== */
/* =========== TABLET STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 800px) {
    body{
        background-color: none;
    }

    main {
        max-width: 600px;
        margin: 0 auto 0;
    }
}

/* ======================================================== */
/* =========== DESKTOP STYLES  ============================== */
/* ======================================================== */

@media screen and (min-width: 1200px) {
    body{
        background-color: none;
    }
    main {
        max-width: 650px;
        margin: 0 auto 0;
    }
}
