<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/page.css">
		</head>
		<body>
			<header>  
			<a href="https://rnfitriansyah.github.io/"><h1 style="font-size: 30px; color: black;text-align: left;">Fitriansyah</h1></a>
  			</header>  
			<nav>
	    		<ul>
              <li><a href="https://twitter.com/riskynf">twitter</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
            			<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/blog">BLOG</a></li>
				
				</ul>
			</footer>
		</body>
	</html>
