<!DOCTYPE html>
	<html lang="en-US">
		<head>
			<meta charset="UTF-8">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- external styles -->
			<link rel="stylesheet" type="text/css" href="/css/responsive.css">
		</head>
		<body>
			<div id="container">
				<div class="row">
					<div class="column left">
						<nav><h1 style="font-size: 1.2em; color: black;text-align: left;">RZ | ENTIRE</h1>
						</nav>
					</div>
					<div class="column right">
						<nav>
	    					<ul>
		        				<li><a href="/about">ABOUT</a></li>
	        					<li><a href="/blog">BLOG</a></li>
	    					</ul>
						</nav>
					</div>
				</div>
				<main>
					<div class="container">
					{{ content }}
					</div>
		
				</main>
				<footer>
	    				<div class= "column left">
	   
	    				</div>
	    				<div class="column right">
	    					<ul>
	        					<li><a href="https://rnfitriansyah.github.io">github</a></li>
							<li><a href="https://twitter.com/riskynf">twitter</a></li>
						</ul>
					</div>
				</footer>
			</div>
		</body>
	</html>
