<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width,initial-scale=1.0">
			<!-- external styles -->
			<link rel="stylesheet" type="text/css" href="/css/responsive.css">
		</head>
		<body>
			<div id="container">
				<header>  
					<a href="https://rnfitriansyah.github.io/"><h1 style="font-size: 40px; color: black;text-align: left;">fitriansyah</h1></a>
  				</header> 
				<nav>
	    				<ul>
		        			<li><a href="/about">ABOUT</a></li>
	        				<li><a href="/blog">BLOG</a></li>
	    				</ul>
				</nav>
				<main>
					<div class="post">
						{{ content }}
					</div>
				</main>
				<footer>
	    				<ul>
	        				<li><a href="https://rnfitriansyah.github.io">github</a></li>
						<li><a href="https://twitter.com/riskynf">twitter</a></li>
					</ul>
				</footer>
			</div>
		</body>
	</html>
