<!DOCTYPE html>
	<html>
		<head>
			<title>Fitriansyah</title>
			<!-- external styles -->
			<link rel="stylesheet" href="/css/main.css">
		</head>
		<body>
			<header>  
      			<h1 style="font-size: 40px; color: black;text-align: left;">fitriansyah</h1>  
  			</header> 
  			<div class="maincontainer">
			<nav>
	    		<ul>
		        	<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/blog">BLOG</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			<h2>ini header</h2>
			<h2>ini h2</h2>
			<h3>ini h3</h3>
			<p>Content Here</p>
			
			</div><!-- /.container -->
		</div>
			<footer>
	    		<ul>
	        		<li><a href="https://rnfitriansyah.github.io">github</a></li>
					<li><a href="https://twitter.com/riskynf">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
